In [0]:
data = [(1,'athiya','F',2000),(2,'Rimsha','F',3000),(3,'Rehan','M',5000)]
schema = ('SNo','Name','Gender','Salary')
df = spark.createDataFrame(data,schema)
display(df)

SNo,Name,Gender,Salary
1,athiya,F,2000
2,Rimsha,F,3000
3,Rehan,M,5000

In [0]:
from pyspark.sql.functions import when

##when & otherwise

In [0]:
df1 = df.select(df.SNo,df.Name,df.Salary,when(df.Gender=='M','Male')\
    .when(df.Gender=='F','Female')\
    .otherwise('Unknown'))

In [0]:
df1.show()

+---+------+------+-------------------------------------------------------------------------------+
|SNo|  Name|Salary|CASE WHEN (Gender = M) THEN Male WHEN (Gender = F) THEN Female ELSE Unknown END|
+---+------+------+-------------------------------------------------------------------------------+
|  1|athiya|  2000|                                                                         Female|
|  2|Rimsha|  3000|                                                                         Female|
|  3| Rehan|  5000|                                                                           Male|
+---+------+------+-------------------------------------------------------------------------------+

##alias()

In [0]:
df = df.select(df.SNo,df.Name,df.Salary,when(df.Gender=='M','Male')\
    .when(df.Gender=='F','Female')\
    .otherwise('Unknown').alias('gender'))

In [0]:
df.show()

+---+------+------+------+
|SNo|  Name|Salary|gender|
+---+------+------+------+
|  1|athiya|  2000|Female|
|  2|Rimsha|  3000|Female|
|  3| Rehan|  5000|  Male|
+---+------+------+------+